<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars at work</title>
</head>
<body>
    <a href="mortgages">Mortgages</a>
    <h1>Morgage calculator</h1>

    <form method="POST" action="/">
        <label for="principle">Loan Amount(principle):</label><br>
        <input type="text" id="principle" name="principle" ><br>

        <label for="interestrate">Interest Rate(APR):</label><br>
        <input type="text"  id="interestrate" name="interestrate" class="form-control"><br><br>

        <label for="loanterm">Loan Term(years):</label><br>
        <input type="text"  id="loanterm" name="loanterm" class="form-control"><br><br>

        <button > Submit</button>
<!--        <p id="bmi-result"></p>{{bmiData}}<br>-->
<!--        <p id="bmi-prediction"></p>-->
    </form>

     {{#if monthlypayment}}
     <p>Monthly Payment: {{monthlypayment}}</p>
     {{/if}}
     {{#if principle}}
     <p>Prinicple: {{principle}}</p>
     {{/if}}
     {{#if interestrate}}
     <p>Interest Rate: {{interestrate}}</p>
     {{/if}}
     {{#if loanterm}}
     <p>Loan term: {{loanterm}}</p>
     {{/if}}
    {{#if totalInterestRateAtEnd}}
     <p>Total Interest(at the end): {{totalInterestRateAtEnd}}</p>
     {{/if}}
     {{#if totalAmountAtEnd}}
     <p>Total Amount(at the end): {{totalAmountAtEnd}}</p>
     {{/if}}

</body>
</html>