<!doctype html>
<html lang="en">
    <head>
        <title>Mortgages</title>
        <meta charset="utf-8"/>
    </head>
    <body >
        <a href="/">Home</a>
        <h1>Mortgages</h1>
        <table>
            <thead>
                <tr>
                    <th>Principle </th>
                    <th>Interest Rate</th>
                    <th>Long Term</th>
                    <th>Monthly Payments</th>
                    <th>Total Interest</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{principle}}</td>
                    <td>{{interestrate}}</td>
                    <td>{{loanterm}}</td>
                    <td>{{monthlypayment}}</td>
                    <td>{{totalInterestRateAtEnd}}</td>
                    <td>{{totalAmountAtEnd}}</td>
                    
                </tr>
                {{/each}}
            </tbody>
    </table>
    
    {{#if averagePrinciple}}
        <p id="average-principle-display">Average principle: {{averagePrinciple}}</p>
    {{/if}}

    {{#if averageInterestRate}}
        <p id="average-interest-rate-display">Average interest rate: {{averageInterestRate}}</p>
    {{/if}}

    {{#if averageLoanTerm}}
        <p id="average-long-term-display">Average long term: {{averageLoanTerm}}</p>
    {{/if}}

    {{#if averageMonthlyPayment}}
        <p id="average-monthly-payment-display">Average monthly payment: {{averageMonthlyPayment}}</p>
    {{/if}}

    {{#if averageInterestRateAtEnd}}
        <p id="average-interest-at-the-end-display">Average total interest payment: {{averageInterestRateAtEnd}}</p>
    {{/if}}

    {{#if averageAmountAtEnd}}
        <p id="average-amount-at-the-end-display">Average total amount: {{averageAmountAtEnd}}</p>
    {{/if}}

    



    </body>

</html>